/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/************* Header ********************/
header {
    display : flex;
    flex-direction: column;
}

#logo_header {
    width: 7%;
    height:fit-content;

}

.logo_menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#logo_header{
    width: 8%;
    margin-top: 20px;
}

#menu_header {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    padding-top: 0px;
}

#hebergement{
    padding-right: 50px;
}

.bouton_header {
    padding-top: 10px;
    background-color: transparent;
    border-color: transparent;
}
.bouton_header:hover {
    color: #0065FC;
    border-top-color: #0065FC;
}

.txt_entete h3{
    margin-top: 40px;
    margin-bottom: 4px;
}

.txt_entete p{
    margin-top: 6px;
    margin-bottom: 35px;
}



/*********** Barre de recherche ****************/



.recherche_localisation {
    display: flex ;
    align-items: center;
    align-self: flex-end;
    font-size: 0;
}

.form_localisation{
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
}

.recherche_localisation img{
    width: 10%;
    height: auto;
    border-radius: 15px 0px 0px 15px;
}

#barre_recherche{
    width: 60%;
    font-size: 15px;
    font-weight: 700;
    border: transparent;
    width: 60%;
    color: black;
    font-size: 7000;
}


#search_button_desktop{
    border: 0px ;
    border-radius: 0% 15% 15% 0% / 0% 33% 33% 0%  ;
    width: 30%;
    height: auto;
    box-shadow: 1px 1px 5px 1px #D9D9D9;
}

#search_button_phone{
    display: none;
}

/**************************** Filtres *********************/

.parent_filter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}

#txt_filter{
    margin-right: 20px;
}

.button_filter{
    display: flex;
    align-items: center;
    border-color: #D9D9D9;
    background-color: transparent;
    border-radius: 30px;
    border: solid #D9D9D9 3px;
    margin-top: 7px;
}

.button_filter:hover{
    background-color: #DEEBFF;
}

.button_filter img{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 6px;
}

.button_filter b{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 20px;
}


.type_filter{
    display: flex;
    flex-flow: wrap;
}

.filter{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.info_nb_logement{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#i_logo{
    width: 24px;
    height: 24px;
}

#txt_info{
    padding: 0px 0px 0px 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergement_card{
    display: flex;
    flex-wrap: wrap;
    margin-top: 19px;

}

.card_indiv{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid white 5px;
    border-radius: 20px 20px 20px 20px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-top: 15px;
    justify-content: space-evenly;
    box-shadow: 1px 1px 5px 1px #D9D9D9;

}


.hebergement_img{
    width: 250.33px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    margin-bottom: 8px;
}

.txt_hebergement_card{
    margin-left: 8px;
    

}

.txt_hebergement_card p{
    margin-top: 10px;
    margin-bottom: 2px;
}

.txt_hebergement_card b{
    margin-top: 3px;
}


.hebergement_star{
    display: flex;
    flex-direction: row;
    margin-left: 8px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.ranking_star{
    height: 13.25px;
    width: 14.29px;
    padding-right: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/************* Activity ***************/

.activity{
    margin-top: 40px;
}

.txt_activity{
    margin-left: 15px;
    margin-bottom: 20px;
}

.activity_card_global{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.activity_card{
    width: 23%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 5px 1px #D9D9D9;
}

.activity_card h5{
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.activity_img{
    /* width: 297.5px; */
    /* height: 380px; */
    width: 100%;
    height: 88%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}


/********************** Footer **************************/
footer{
    background-color: #D9D9D9;
}

.footer_bis{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 50px;
}

.info_footer{
    padding-right: 255px;
    padding-left: 20px;
    background-color: #D9D9D9;
}

.info_footer dt{
    margin-bottom: 10px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .bouton_header:focus{
        color: #0065FC;
        border-top-color: #0065FC;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .info_footer{
        padding-right: 50px;
    }

    /********** Activite ************/
    .activity_card{
        width: 22%;
        height: 270px;
    }

    .activity_img{
        width: 100%;
        height: 80%;
        object-fit: cover;
    }
    

    .activity_card h5{
        margin-top: 15px;
        font-size: 14px;
    }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
    body{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding: 0px;
    }

    /* main{
        padding-left: 15px;
        padding-right: 15px;
    } */

    .main-container{
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    /********** Header *************/

    .logo_menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #logo_header{
        width: 18%;
        height: auto;
        margin-top: 30px;
    }

    #menu_header{
        width: 100%;
        font: black;
        margin-top: 30px;
        justify-content: space-around;
        padding-bottom: 10px;
        align-items: center;
    }

    #menu_header dt{
        width: 100%;
        font: black;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }

    #hebergement{
        padding-right: 0px;
    }

    .bouton_header{
        display: flex;
        justify-content: center;
        width: 100%;
        border: solid;
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        border-color: #D9D9D9;
        padding-bottom: 10px;
    }

    .bouton_header:focus{
        color: #0065FC;
        border-bottom-color: #0065FC;
    }

    .txt_entete{
        margin-left: 20px;
        margin-right: 20px;
    }

    .txt_entete h3{
        margin-top: 10px;
    }
    
    

    /************** Barre de recherche *******/
    .form_localisation{
        border: 2px solid #F2F2F2;
        border-radius: 20px;
    }

    .recherche_localisation{
        margin-left: 20px;
        margin-right: 20px;
    }

    #barre_recherche{
        border: transparent;
        width: 60%;
    }

    .recherche_localisation img{
        width: 20%;
    }

    #search_button_desktop{
        display: none;
    }

    #search_button_phone{
        display: flex;
        width: 20%;
    }

    /************* Filter *******************/
    .parent_filter{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    
    .type_filter{
        display: flex;
        justify-content: space-between;
    }
    .filter{
        /* margin-right: 5px; */
        /* width: 48%; */
        /* width: 150px; */
        margin-right: 0px;
    }

    .button_filter{
        display: flex;
        width: 160px;
    }

    .button_filter:focus{
        background-color: #DEEBFF;
    }

    .info_nb_logement{
        margin-left: 20px;
        margin-right: 20px;
    }

    /********** Populaires ************/

    .hebergements-and-populaires{
        display: flex;
        flex-direction: column-reverse;
        padding: 0px 0px 0px 0px;
        border-radius: 0px 0px 0px 0px;
    }

    .hebergements-and-populaires section{
        border-radius: 0px 0px 0px 0px;
    }



    .populaires{
        margin-top: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .populaires-cards {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .populaires-cards a{
        width: 100%;
    }

    /********** Hebergement ************/
    
    .hebergements-and-populaires .hebergements{
        background-color: white;
        padding-left: 15px;
        padding-right: 15px;
    }

    .hebergement_card{
        justify-content: center;
        align-items: center;
    }

    .card_indiv{
        width: 100%;
        height: auto;
        margin-right: 0px;
    }

    .hebergement_img{
        object-fit: cover;
        width: 100%;

    }

    
    /********** Activite ************/

    .activity{
        margin-top: 10px;
    }

    .activity_card{
        width: 85%;
        height: 200px;
        margin-bottom: 20px;
    }

    .activity_img{
        width: 100%;
        height: 80%;
        object-fit: cover;
    }



    /********** Footer ************/
    .footer_bis{
        background-color: #D9D9D9;
    }


}