/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


body {
    display: flex;
    justify-content: center;
}

.recherche_localisation {
    display: flex;

}

#search_button {
    border : 0px ;
    background-color: #0065FC;
    border-radius: 0% 15% 15% 0% / 0% 33% 33% 0%  ;

}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}



.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/************* Header ********************/
header {
    display : flex;
    flex-direction: column;
    justify-content: space-between;

}

#logo_header {
    width: 7%;
    height:fit-content;

}

.logo_menu {
    display: flex;
    justify-content: space-between;

}

#menu_header {
    display: flex;
    flex-direction: row;
}

.bouton_header {
    background-color: transparent;
    border-color: transparent;
}
.bouton_header:hover {
    color: #0065FC;
    border-top-color: #0065FC;
}

/*********** Barre de recherche et filtres ****************/

.parent_filter{
    display: flex;
    flex-wrap: wrap;
    padding: 1em 2em 1em;
}

#txt_filter{
    margin: 0% 5% 0% 0%;
}

.button_filter{
    display: flex;
    align-items: center;
    border-color: #D9D9D9;
    background-color: transparent;
    border-radius: 15px;
}

.button_filter:hover{
    background-color: #DEEBFF;
}

.type_filter{
    display: flex;
    flex-flow: wrap;
}

.filter{
    display: flex;
    align-items: center;
}

.logo_button_filter{
    padding: 0% 5px 0% 15px;
}

.info_nb_logement{
    display: flex;
    align-items: center;
}

#i_logo{
    width: 24px;
    height: 24px;
}

#txt_info{
    padding: 0px 0px 0px 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergement_card{
    display: flex;
    flex-wrap: wrap;    
}

.card_indiv{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid white 5px;
    border-radius: 20px 20px 20px 20px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-top: 15px;

}


.hebergement_img{
    width: 250.33px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    /* border: solid white 5px; */
    object-fit: cover;
    margin-bottom: 8px;
}

.txt_hebergement_card{
    margin-left: 8px;

}

.txt_hebergement_card_bis{
    line-height: 20px;
    margin-left: 8px;

}

.hebergement_star{
    display: flex;
    flex-direction: row;
    margin-left: 8px;
    

}

.ranking_star{
    height: 13.25px;
    width: 14.29px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/******************* Activity *************************/

.activity_card_global{
    display: flex;
}




.activity_img{
    width: 297.5px;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    border: solid white 5px;
}


/********************** Footer **************************/
.footer_bis{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start ;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}